block title
  title PAYMENT LIST
.portlet.box.grey
  .portlet-title
    .caption
      i.fa.fa-edit
      | PAYMENT LIST
    .tools
      a.collapse(href="javascript:;")
  .portlet-body(ng-controller="SalesPaymentListController")
    .table-toolbar
      .btn-group
    table.table.table-bordered.table-striped( datatable="" dt-options="dtOptions" dt-columns="dtColumns")
