li.dropdown.user(ng-controller="UserLoginController" )
	a.dropdown-toggle(href="#", data-toggle="dropdown", data-hover="dropdown", data-close-others="true")
		img(alt="", src="{{user.photo}}")
		span.username
			| {{user.username}}
		i.fa.fa-angle-down
	ul.dropdown-menu
		li
			a(href="{{user.profileUrl}}")
				i.fa.fa-user
				| My Profile
		li
			a(href="{{user.calendarUrl}}")
				i.fa.fa-calendar
				| My Calendar
		li
			a(href="{{user.inboxUrl}}")
				i.fa.fa-envelope
				| My Inbox
				span.badge.badge-danger
					| 3
		li
			a(href="{{user.taskUrl}}")
				i.fa.fa-tasks
				| My Tasks
				span.badge.badge-success
					| 7
		li.divider
		li
			a#trigger_fullscreen(href="javascript:;")
				i.fa.fa-arrows
				| Full Screen
		li
			a(href="{{user.lockScreen}}")
				i.fa.fa-lock
				| Lock Screen
		li
			a(href="{{user.logout}}")
				i.fa.fa-key
				| Log Out
// END USER LOGIN DROPDOWN