block title
  title PICK LIST
.portlet.box.grey
  .portlet-title
    .caption
      i.fa.fa-reorder
      | EDIT PICK LIST
    .tools
      a.collapse(href="javascript:;")
      a.config(href="#portlet-config", data-toggle="modal")
      a.reload(href="javascript:;")
      a.remove(href="javascript:;")
  .portlet-body.form
    form.form-horizontal(role="form", name="add_form", ng-submit="add_form.$valid && addPacking()", novalidate)
      .form-body
        .row
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                select.select2me.form-control.select2-offscreen(ng-model="packing.inventory_location", ng-options="inventory_location.inventory_location as inventory_location.inventory_location for inventory_location in inventory_locations", ng-selected="{{sales.inventory_location}}" ,tabindex="-1", required)
                span.col-md-12.help-block Inventory Location
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input.form-control(type="text", ng-model="packing.preparation_date", ng-minlength="0", ng-maxlength="25", readonly)
                span.col-md-12.help-block Preparation Date
        .row
          .col-md-6
            form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
                input.form-control(type="text", ng-model="packing.prepared_by", ng-minlength="0", ng-maxlength="25", readonly)
                span.col-md-12.help-block Prepared by
          .col-md-6
            .form-group
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
                input#deliveryDate.form-control(type="text", ng-model="packing.delivery_date", datepicker-popup="{{format}}" required)
                span.col-md-12.help-block Delivery Date
          .col-md-1
        .portlet.box.grey
          .portlet-title
            .caption
              i.fa.fa-reorder
              | ORDERED ITEMS
            .tools
              a.collapse(href="javascript:;")
          .portlet-body.form
            .form-body
              br
              br
              .form-group
                .col-md-1
                .col-md-10
                  .row
                    br
                    .col-md-12
                      .portlet-body.flip-scroll
                        table.table.table-bordered.table-condensed.flip-content
                          thead.flip-content.bg-grey
                            tr
                              th SO Number
                              th Customer
                              th Brand
                              th Code
                              th Product
                              th Quantity
                              th(width="5%") Action
                          tbody(ng-repeat="sale in packing.sales")
                            tr(ng-repeat="ordered_item in sale.ordered_items")
                              td {{sale.sono}}
                              td {{sale.customer.company_name}}
                              td {{ordered_item.item.brand}}
                              td {{ordered_item.item.bl_code}}
                              td {{ordered_item.item.name}}
                              td {{ordered_item.quantity}}
                              td(width="5%")
                                .btn-group.btn-group-xs.btn-group-solid
                                  a.tooltips.btn.default.tooltips(ng-click="removeItem($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
                                    i.fa.fa-trash-o
                .col-md-1
      .form-actions.fluid
        .row
          .col-md-6
            .col-md-offset-3.col-md-9
              button.btn.green(type="submit") Approve &amp; Send
              button.btn.default(type="button", ui-sref="salesPicklist") Cancel
          .col-md-6
