.portlet.box.grey
	.portlet-title
		.caption
			i.fa.fa-edit
			| SALES RETURN LIST
		.tools
			a.collapse(href="javascript:;")
	.portlet-body(ng-controller="SalesOrderListController")
		.table-toolbar
		table#sales_table.table.table-bordered.table-striped( datatable="" dt-options="dtOptions" dt-columns="dtColumns")
