.portlet.box.grey
  .portlet-title
    .caption
      i.fa.fa-edit
      | RETURNED MERCHANDISE LIST
    .tools
      a.collapse(href="javascript:;")
  .portlet-body(ng-controller="SalesReturnListController")
    .table-toolbar
      .btn-group
        button.tooltips(ui-sref="newSalesReturn", data-container="body", data-placement="top", data-html="true", data-original-title="Add new Record")
          i.fa.fa-plus
    table.table.table-bordered.table-striped( datatable="" dt-options="dtOptions" dt-columns="dtColumns")
