.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ADD SHIPMENT PROFILE
						.tools
							a.collapse(href="javascript:;")
							a.config(href="#portlet-config", data-toggle="modal")
							a.reload(href="javascript:;")
							a.remove(href="javascript:;")
					.portlet-body.form
						form#shipment_add.form-horizontal(action="/shipment/add", method="post")
							.form-body
								.alert.alert-danger.display-hide
									button.close(data-close="alert")
									| You have some form errors. Please check below.
								.alert.alert-success.display-hide
									button.close(data-close="alert")
									| Your form validation is successful!
								.row
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
												select.select2me.form-control.select2-offscreen(ng-model="shipment.supplier", ng-options="supplier.supplier as supplier.supplier for supplier in suppliers", ng-selected="{{shipment.supplier}}" required)
												span.col-md-12.control-label	Supplier 
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
												input#shipmentNo.form-control(type="text", name="shipmentNo", readonly="readonly", value="")
												span.col-md-12.control-label	Shipment Number 
								.row
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
												input#referenceNo.form-control(type="text", name="referenceNo", value="")
												span.col-md-12.control-label	Reference Number 
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
								.row
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
												select#shipmentStatus.select2me.form-control.select2-offscreen(ng-model="shipment.status", ng-options="status.status as status.status for status in statuses", ng-selected="{{shipment.status}}" required)
												span.col-md-12.control-label	Status
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
												input#arrivalDate.form-control(type="text", name="arrivalDate", value="")
												span.col-md-12.control-label	Arrival Date 
								.row
									.col-md-12
										.form-group
											.col-md-2.col-lg-2
											.col-md-8.col-xs-12.col-sm-12.col-lg-8
												textarea#shipmentNotes.text-area.form-control(name="shipmentNotes", rows="1", required="required")
												span.col-md-12.control-label	Special Instructions 
											.col-md-2.col-lg-2
								.row
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
												input#confirmedBy.form-control(type="text", name="confirmedBy", value="")
												span.col-md-12.control-label	Confirmed By 
									.col-md-6
										.form-group
											.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
												input#approveBy.form-control(type="text", name="approveBy", value="")
												span.col-md-12.control-label	Approved By 
								//- shipments item ng-show="shipments.item"
								.portlet.box.grey
									.portlet-title
										.caption
											i.fa.fa-reorder
											| SHIPMENT ITEMS
										.tools
											a.collapse(href="javascript:;")
									.portlet-body.form
										.form-body
											br
											br
											.row
												.col-md-12
													.col-md-3
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																select.select2me.form-control.select2-offscreen(ng-model="sales.shipments.item", ng-options="product.name for product in products", ng-selected="{{product.name}}")
																span.col-md-12.help-block	Product
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																input.form-control(type="text", ng-minlength="0", ng-maxlength="20", ng-model="sales.shipments.quantity")
																span.col-md-12.help-block	Quantity
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																input.form-control(type="text", ng-minlength="0", ng-maxlength="20", ng-model="shipments.expiry_date")
																span.col-md-12.help-block	Cost
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																input.form-control(type="text", ng-minlength="0", ng-maxlength="20", ng-model="shipments.expiry_date")
																span.col-md-12.help-block	Expiry Date
													.col-md-2
														.form-group
															.col-xs-12.col-sm-12.col-md-12.col-lg-12
																select.select2me.form-control.select2-offscreen(ng-model="shipments.condition", ng-options="shipments.condition for conditions in conditions", ng-selected="{{shipments.condition}}")
																span.col-md-12.help-block	Condition
													.col-md-1
														button.btn-sm.green.custom-right(type="button",ng-click="addItem(shipments)")
															i.fa.fa-plus
											.form-group
												.col-md-1
												.col-md-10
													.row
														br
														.col-md-12
															.portlet-body.flip-scroll
																table.table.table-bordered.table-condensed.flip-content
																	thead.flip-content.bg-grey
																		tr
																			th Product 
																			th Quantity
																			th Cost
																			th Expiry Date
																			th Condition
																			th(width="5%")
																	tbody
																		tr(ng-repeat="shipments_item in sales.shipments_item")
																			td {{shipments_item.item.name}}
																			td {{shipments_item.quantity}}
																			td {{shipments_item.cost}}
																			td {{shipments_item.expiry_date}}
																			td {{shipments_item.condition}}
																			td(width="5%")
																				.btn-group.btn-group-xs.btn-group-solid
																					a.tooltips.btn.default.tooltips(ng-click="removeItem($index)", data-container="body", data-placement="top", data-html="true", data-original-title="Delete Record")
																						i.fa.fa-trash-o
												.col-md-1
							.form-actions.fluid
								.row
									.col-xs-10.col-sm-10.col-md-11.col-lg-11
										.custom-right
											button.btn.green(type="submit") Submit
											button.btn.default(type="button", ui-sref="shipments") Cancel
									.col-md-6
