extends ../layout/main

block content
	.portlet.box.grey
		.portlet-title
			.caption
				i.fa.fa-reorder
				| USER PROFILE
			.tools
				a.collapse(href="javascript:;")
				a.config(href="#portlet-config", data-toggle="modal")
				a.reload(href="javascript:;")
				a.remove(href="javascript:;")
		.portlet-body.form
			form#user_add.form-horizontal(action="/user/add", method="post")
				.form-body
					.alert.alert-danger.display-hide
						button.close(data-close="alert")
						| You have some form errors. Please check below.
					.alert.alert-success.display-hide
						button.close(data-close="alert")
						| Your form validation is successful!
					.row
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
									input#userId.form-control(type="text", name="userId", disabled="disabled")
									span.col-md-12.control-label ID
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
									input#fullName.form-control(type="text", name="fullName", value="", required="")
									span.col-md-12.control-label Full Name
					.row
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
									input#userName.form-control(type="text", name="userName", value="", required="")
									span.col-md-12.control-label Username
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
									input#password.form-control(type="password", name="password", value="", required="")
									span.col-md-12.control-label Password
					.row
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
									select#designationId.select2me.form-control.select2-offscreen(name="designation[designationId]", tabindex="-1")
										option(value="1") Developer
										option(value="2") Sales Executive
										option(value="3") Admin Assistant
										option(value="4") Sales Coordinator
										option(value="5") Sales Assistant
									span.col-md-12.control-label Position
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
									input#email.form-control(type="email", name="email", value="", required="")
									span.col-md-12.control-label Email
					.row
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
									input#mobile.form-control(type="text", name="mobile", value="", required="")
									span.col-md-12.control-label Mobile
						.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
									select#userStatus.select2me.form-control.select2-offscreen(name="userStatus", tabindex="-1")
										option(value="0") Active
										option(value="1") Inactive
									span.col-md-12.control-label User Status
					.portlet.box.grey
						.portlet-title
							.caption
								i.fa.fa-reorder
								| PERMISSION
							.tools
								a.collapse(href="javascript:;")
								a.config(href="#portlet-config", data-toggle="modal")
								a.reload(href="javascript:;")
								a.remove(href="javascript:;")
						.portlet-body.form
							.form-body
								.row
									br
									.col-md-2
									.col-md-8
										.col-xs-6.col-sm-6.col-md-6.col-md-6(style="padding-left: 0px;")
											button.btn-sm.green.custom-left(type="button", data-toggle="modal", href="#accessModal")
												| Add New
												i.fa.fa-plus
										.col-xs-6.col-sm-6.col-md-6.col-md-6(style="padding-right: 0px;")
									.col-md-2
								.form-group
									.col-md-2
									.col-md-8
										.row
											br
											.col-md-12
												.portlet-body.flip-scroll
													table#contactTable.table.table-bordered.table-condensed.flip-content
														thead.flip-content.bg-grey
															tr
																th Permission
																th(width="12%")
														tbody
									.col-md-2
				.form-actions.fluid
					.row
						.col-md-6
							.col-md-offset-3.col-md-9
								button.btn.green(type="submit") Submit
								button.btn.default(type="button") Cancel
						.col-md-6
