extends ../layout/main
block scripts
	script(src="/ngscripts/users/app.js", type="text/javascript")
	script(src="/ngscripts/users/services.js", type="text/javascript")
	script(src="/ngscripts/users/controllers.js", type="text/javascript")
	script(type='text/javascript').
		(function(){
			var app = angular.module('erp',['ui.router','ngResource','menu','notification','userApp','message','user','task']);
		})();
block content
	div(ui-view)
