.portlet.box.grey
	.portlet-title
		.caption
			i.fa.fa-reorder
			| ADD PRODUCT PROFILE
		.tools
			a.collapse(href="javascript:;")
			a.config(href="#portlet-config", data-toggle="modal")
			a.reload(href="javascript:;")
			a.remove(href="javascript:;")
	.portlet-body.form
		form.form-horizontal(role="form", name="add_form", ng-submit="add_form.$valid && addProduct()", novalidate)
			.form-body
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#part_no.form-control(type="text", name="part_no", ng-model="product.part_no", required)
								span.col-md-12.control-label Part Number
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#fullName.form-control(type="text", name="fullname", ng-model="product.supplier_code", required)
								span.col-md-12.control-label Supplier Code
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#userName.form-control(type="text", name="username", ng-model="product.bl_code", required)
								span.col-md-12.control-label BL Code
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								select#position.select2me.form-control.select2-offscreen(ng-model="product.brand", ng-options="brand.brand as brand.brand for brand in brands", ng-selected="{{product.brnd}}" ,tabindex="-1", required)
								span.col-md-12.control-label Brand
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#userName.form-control(type="text", name="name", ng-model="product.name", required)
								span.col-md-12.control-label Item Name
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#email.form-control(type="email", name="size", ng-model="product.size", required)
								span.col-md-12.control-label Size
				.row
					.col-md-1
					.col-md-10
						.form-group
							.col-xs-12.col-sm-12.col-md-12.col-lg-12(align="center")
								input#userName.form-control(type="text", name="name", ng-model="product.name", required)
								span.col-md-12.control-label Description Notes
					.col-md-1
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#mobile.form-control(type="text", name="color", ng-model="product.color", required)
								span.col-md-12.control-label Color
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								select#payment_term.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="payment_term.payment_term_name as payment_term.payment_term_name for payment_term in payment_terms", ng-selected="{{product.payment_term}}", required)
								span.col-md-12.control-label Payment Terms
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#user_status.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="status.status as status.status for status in statuses", ng-selected="{{user.status}}", required)
								span.col-md-12.control-label Status
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								select#user_status.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="status.status as status.status for status in statuses", ng-selected="{{user.status}}", required)
								span.col-md-12.control-label UOM
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#user_status.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="status.status as status.status for status in statuses", ng-selected="{{user.status}}", required)
								span.col-md-12.control-label Movement
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								select#user_status.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="status.status as status.status for status in statuses", ng-selected="{{user.status}}", required)
								span.col-md-12.control-label Supplier
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#user_status.select2me.form-control.select2-offscreen(ng-model="product.payment_term", tabindex="-1",ng-options="status.status as status.status for status in statuses", ng-selected="{{user.status}}", required)
								span.col-md-12.control-label Currency
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#mobile.form-control(type="text", name="color", ng-model="product.color", required)
								span.col-md-12.control-label International Cost
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#userName.form-control(type="text", name="name", ng-model="product.name", required)
								span.col-md-12.control-label Retail Price
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#email.form-control(type="email", name="size", ng-model="product.size", required)
								span.col-md-12.control-label Professional Price
			.form-actions.fluid
				.row
					.col-md-6
						.col-md-offset-3.col-md-9
							button.btn.green(type="submit") Submit
							button.btn.default(type="button", ui-sref="products") Cancel
					.col-md-6
