extends ../layout/main
block scripts
	script(src="/ngscripts/products/app.js", type="text/javascript")
	script(src="/ngscripts/products/services.js", type="text/javascript")
	script(src="/ngscripts/products/controllers.js", type="text/javascript")
	script(type='text/javascript').
		(function(){
			var app = angular.module('erp',['ui.router','ngResource','menu','notification','userApp','productApp','message','task']);
		})();
block content
	div(ui-view)
