extends ../../layout/main
block scripts
  script(src="/ngscripts/sales/order/app.js", type="text/javascript")
  script(src="/ngscripts/sales/services.js", type="text/javascript")
  script(src="/ngscripts/sales/order/controllers.js", type="text/javascript")
  script(type='text/javascript').
    (function(){
      var app = angular.module('erp',['ui.router','ngResource','menu','notification','userApp','salesOrderApp','message','task']);
    })();
block content
  div(ui-view)
