.portlet.box.grey
	.portlet-title
		.caption
			i.fa.fa-edit
			| SALES ORDER LIST
		.tools
			a.collapse(href="javascript:;")
	.portlet-body.flip-scroll(ng-controller="OrderListController")
		.table-toolbar
			.btn-group
				button(ui-sref="newSalesOrder").tooltips(data-container="body", data-placement="top", data-html="true", data-original-title="Add new Record")
					i.fa.fa-plus
		table#sales_table.table.table-bordered.table-striped.table-condensed.flip-content( datatable="" dt-options="dtOptions" dt-columns="dtColumns")
