extends ../layout/main

block content
	.portlet.box.grey
		.portlet-title
			.caption
				i.fa.fa-edit
				| Purchase List
			.tools
				a.collapse(href="javascript:;")
				a.config(href="#portlet-config", data-toggle="modal")
				a.reload(href="/")
				a.remove(href="javascript:;")
		.portlet-body
			.table-toolbar
				.btn-group
					a.btn.green(href="/purchase/add")
						| Add New
						i.fa.fa-plus
			table#purchase_table.main.table.table-striped.table-hover.table-bordered
				thead
					tr
						th Supplier
						th Reference Number
						th Purchase Date
						th Expected Arrival Date
						th Purchase Notes
						th Purchase Status
						th 
				tbody
					tr
						td
						td
						td
						td
						td
						td