.portlet.box.grey
	.portlet-title
		.caption
			i.fa.fa-reorder
			| ADD CUSTOMER PROFILE
		.tools
			a.collapse(href="javascript:;")
	.portlet-body.form
		form.form-horizontal(role="form", name="add_form", ng-submit="add_form.$valid && addCustomer()", novalidate)
			.form-body
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								input#company_name.form-control(type="text", ng-model="customer.company_name" required)
								span.col-md-12.control-label	Company Name 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
								input#branch.form-control(type="text",  ng-model="customer.branch", required)
								span.col-md-12.control-label	Branch Location 
				.row
					br
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								select.select2me.form-control.select2-offscreen(ng-model="customer.type", ng-options="type.type_name as type.type_name for type in types", ng-selected="{{customer.type}}" ,tabindex="-1", required)
								span.col-md-12.control-label	Type 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
								input#website.form-control(type="text", ng-model="customer.website", required)
								span.col-md-12.control-label	Website 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								input#tradeName.form-control(type="text", ng-model="customer.trade_name", required)
								span.col-md-12.control-label	Trade Name 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
								input#tin.form-control(type="text",   ng-model="customer.tin" required)
								span.col-md-12.control-label	TIN 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								input#phone.form-control(type="text",   ng-model="customer.phone" required)
								span.col-md-12.control-label	Phone 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
								input#email.form-control(type="email",   ng-model="customer.email" required)
								span.col-md-12.control-label	Email 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								label.checkbox
									input#consignee.form-control(type="checkbox",   ng-model="customer.consignee" value="1")
									| Consignee
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left
								label.checkbox
									input#franchise.form-control(type="checkbox", ng-model="customer.franchise", value="1")
									| Franchise
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								input#credit_limit.form-control(type="text", ng-model="customer.credit_limit" required)
								span.col-md-12.control-label	Credit Limit 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left.select
								input#transaction_limit.form-control(type="text", ng-model="customer.transaction_limit" required)
								span.col-md-12.control-label
									| Unpaid Transaction Limit
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								select#payment_term.select2me.form-control.select2-offscreen(ng-model="customer.payment_term", ng-options="payment_term.payment_term_name as payment_term.payment_term_name for payment_term in payment_terms", ng-selected="{{customer.payment_term}}" required)
								span.col-md-12.control-label	Payment Terms 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left.select
								input#discount.form-control(type="text", ng-model="customer.discount" required)
								span.col-md-12.control-label	Permanent Discount 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								select#shippingModeId.select2me.form-control.select2-offscreen(ng-model="customer.shipping_mode" ng-options="shipping_mode.shipping_mode_name as shipping_mode.shipping_mode_name for shipping_mode in shipping_modes", ng-selected="{{customer.shipping_mode}}" required)
								span.col-md-12.control-label	Shipping Mode 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left.select
								select#userId.select2me.form-control.select2-offscreen(ng-model="customer.sales_executive" ng-options="sales_executive.sales_executive.fullname as sales_executive.fullname for sales_executive in sales_executives", ng-selected="{{customer.sales_executive}}" required)
								span.col-md-12.control-label	Sales Executive 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
								select#priceTypeId.select2me.form-control.select2-offscreen(ng-model="customer.price_type" ng-options="price_type.price_type_name as price_type.price_type_name for price_type in price_types", ng-selected="{{customer.price_type}}" required)
								span.col-md-12.control-label	Price Type 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-left.select
								select#status.select2me.form-control.select2-offscreen(ng-model="customer.status" ng-options="status.status as status.status for status in statuses", ng-selected="{{customer.status}}" required)
								span.col-md-12.control-label	Customer Status 
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ADDRESS
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.row
							br
							.col-md-6
								// <div class="form-group">
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
									h3.inline Shipping Address
								// </div>
							.col-md-6
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										input#streetLandmark.form-control(type="text", name="streetLandmark", placeholder="Enter Street Landmark", value="")
										span.col-md-12.control-label	Street/Landmark 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select#cityId.select2me.form-control.select2-offscreen(name="city[cityId]", tabindex="-1")
											option(value="")
											option(value="1") Calamba
										span.col-md-12.control-label	City 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										select#provinceId.select2me.form-control.select2-offscreen(name="province[provinceId]", tabindex="-1")
											option(value="")
											option(value="1") Laguna
										span.col-md-12.control-label	Province 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select#countryId.select2me.form-control.select2-offscreen(name="country[countryId]", tabindex="-1")
											option(value="")
											option(value="1") Phillippines
										span.col-md-12.control-label	Country 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										input#zipcode.form-control(type="text", name="zipcode", placeholder="Enter Zipcode", value="")
										span.col-md-12.control-label	Zipcode 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										label.checkbox
											input#billing.form-control(type="checkbox", name="billing", value="1")
											| Use as Billing Address
						.row
							br
							.col-md-6
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
									h3.inline Billing Address
							.col-md-6
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-8.col-lg-8.custom-right
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										input#streetLandmark.form-control(type="text", name="streetLandmark", placeholder="Enter Street Landmark", value="")
										span.col-md-12.control-label	Street/Landmark 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select#cityId.select2me.form-control.select2-offscreen(name="city[cityId]", tabindex="-1")
											option(value="")
											option(value="1") Calamba
										span.col-md-12.control-label	City 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										select#provinceId.select2me.form-control.select2-offscreen(name="province[provinceId]", tabindex="-1")
											option(value="")
											option(value="1") Laguna
										span.col-md-12.control-label	Province 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select#countryId.select2me.form-control.select2-offscreen(name="country[countryId]", tabindex="-1")
											option(value="")
											option(value="1") Phillippines
										span.col-md-12.control-label	Country 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										input#zipcode.form-control(type="text", name="zipcode", placeholder="Enter Zipcode", value="")
										span.col-md-12.control-label	Zipcode 
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| CONTACT PERSONS
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							.row
								br
								.col-md-2
								.col-md-8
									.col-xs-6.col-sm-6.col-md-6.col-md-6(style="padding-left: 0px;")
										button.btn-sm.green.custom-left(type="button", data-toggle="modal", href="#contactModal")
											| Add New
											i.fa.fa-plus
									.col-xs-6.col-sm-6.col-md-6.col-md-6(style="padding-right: 0px;")
								.col-md-2
							.form-group
								.col-md-2
								.col-md-8
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table#contactTable.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Name
															th Position
															th Mobile
															th Email
															th(width="12%")
													tbody
								.col-md-2
			.form-actions.fluid
				.row
					.col-md-6
						.col-md-offset-3.col-md-9
							button.btn.green(type="submit") Submit
							button.btn.default(type="button", ui-sref="customers") Cancel
					.col-md-6