extends ../layout/main
block scripts
    script(src="/ngscripts/customers/app.js", type="text/javascript")
    script(src="/ngscripts/customers/services.js", type="text/javascript")
    script(src="/ngscripts/customers/controllers.js", type="text/javascript")
    script(type='text/javascript').
        (function(){
            var app = angular.module('erp',['menu','notification','customerApp','message','user','task','ngTable','ui.router']);
        })();
block content
    div(ui-view)