extends ../layout/main
block scripts
    script(src="/ngscripts/customers/app.js", type="text/javascript")
    script(src="/ngscripts/customers/services.js", type="text/javascript")
    script(src="/ngscripts/customers/controllers.js", type="text/javascript")
    script(type='text/javascript').
        (function(){
            var app = angular.module('erp',['ui.router','ngResource','menu','notification','userApp','customerApp','message','task']);
        })();
block content
    div(ui-view)