.portlet.box.grey
  .portlet-title
    .caption
      i.fa.fa-edit
      | CUSTOMER LIST
    .tools
      a.collapse(href="javascript:;")
  .portlet-body.flip-scroll(ng-controller="CustomerListController")
    .table-toolbar
      .btn-group
        button(ui-sref="newCustomer").tooltips(data-container="body", data-placement="top", data-html="true", data-original-title="Add new Record")
          i.fa.fa-plus
    table#customers_table.table.table-bordered.table-condensed.flip-content(datatable="" dt-options="dtOptions" dt-columns="dtColumns")
