.portlet.box.grey
	.portlet-title
		.caption
			i.fa.fa-reorder
			| ADD CUSTOMER PROFILE
		.tools
			a.collapse(href="javascript:;")
	.portlet-body.form
		form.form-horizontal(role="form", name="add_form", ng-submit="add_form.$valid && addCustomer()", novalidate)
			.form-body
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#company_name.form-control(type="text", ng-model="customer.company_name" required disabled)
								span.col-md-12.control-label	Company Name 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#branch.form-control(type="text",  ng-model="customer.branch", required disabled)
								span.col-md-12.control-label	Branch Location 
				.row
					br
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select.select2me.form-control.select2-offscreen(ng-model="customer.type", ng-options="type.type_name as type.type_name for type in types", ng-selected="{{customer.type}}" ,tabindex="-1", required disabled)
								span.col-md-12.control-label	Type 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#website.form-control(type="text", ng-model="customer.website", required disabled)
								span.col-md-12.control-label	Website 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#trade_name.form-control(type="text", ng-model="customer.trade_name", required disabled)
								span.col-md-12.control-label	Trade Name 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#tin.form-control(type="text",   ng-model="customer.tin" required disabled)
								span.col-md-12.control-label	TIN 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#commission_sharing.form-control(type="text", ng-model="customer.commission_sharing", required disabled)
								span.col-md-12.control-label	Commission Sharing
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#sec_no.form-control(type="text",   ng-model="customer.sec_no" required disabled)
								span.col-md-12.control-label	Sec Number 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#phone.form-control(type="text",   ng-model="customer.phone" required disabled)
								span.col-md-12.control-label	Phone 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
								input#email.form-control(type="email",   ng-model="customer.email" required disabled)
								span.col-md-12.control-label	Email 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-7.col-lg-7.custom-right
								label.checkbox
									input#consignee(type="checkbox",   ng-model="customer.consignee" value="1")
									| Consignee
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								label.checkbox
									input#franchise(type="checkbox", ng-model="customer.franchise", value="1")
									| Franchise
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								input#credit_limit.form-control(type="text", ng-model="customer.credit_limit" required disabled)
								span.col-md-12.control-label	Credit Limit 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left.select
								input#transaction_limit.form-control(type="text", ng-model="customer.transaction_limit" required disabled)
								span.col-md-12.control-label
									| Unpaid Transaction Limit
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#payment_term.select2me.form-control.select2-offscreen(ng-model="customer.payment_term", ng-options="payment_term.payment_term_name as payment_term.payment_term_name for payment_term in payment_terms", ng-selected="{{customer.payment_term}}" required disabled)
								span.col-md-12.control-label	Payment Terms 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left.select
								input#discount.form-control(type="text", ng-model="customer.discount" required disabled)
								span.col-md-12.control-label	Permanent Discount 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#shippingModeId.select2me.form-control.select2-offscreen(ng-model="customer.shipping_mode", ng-options="shipping_mode.shipping_mode_name as shipping_mode.shipping_mode_name for shipping_mode in shipping_modes", ng-selected="{{customer.shipping_mode}}" required disabled)
								span.col-md-12.control-label	Shipping Mode 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left.select
								select#userId.select2me.form-control.select2-offscreen(ng-model="customer.sales_executive", ng-options="sales_executive.fullname as sales_executive.fullname for sales_executive in sales_executives", ng-selected="{{customer.sales_executive}}" required disabled)
								span.col-md-12.control-label	Sales Executive 
				.row
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
								select#priceTypeId.select2me.form-control.select2-offscreen(ng-model="customer.price_type", ng-options="price_type.price_type_name as price_type.price_type_name for price_type in price_types", ng-selected="{{customer.price_type}}" required disabled)
								span.col-md-12.control-label	Price Type 
					.col-md-6
						.form-group
							.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left.select
								select#status.select2me.form-control.select2-offscreen(ng-model="customer.status", ng-options="status.status as status.status for status in statuses", ng-selected="{{customer.status}}" required disabled)
								span.col-md-12.control-label	Customer Status 
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| ADDRESS
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.row
							br
							.col-md-6
								// <div class="form-group">
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
									h3.inline Shipping Address
									br
									br
								// </div>
							.col-md-6
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										input.form-control(type="text", ng-model="customer.shipping_address.landmark", required disabled)
										span.col-md-12.control-label	Floor/Unit/Building
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										input.form-control(type="text", ng-model="customer.shipping_address.barangay", required disabled)
										span.col-md-12.control-label	Street/Barangay
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select.select2me.form-control.select2-offscreen(ng-model="customer.shipping_address.country",ng-selected="{{customer.shipping_address.country}}", ng-options="country.country for country in countries track by country.country", required disabled)
										span.col-md-12.control-label	Country 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										select.select2me.form-control.select2-offscreen(ng-model="customer.shipping_address.province",ng-selected="{{customer.shipping_address.province}}", ng-options="geography.province as geography.province for geography in geographys track by geography._id",required disabled)
										span.col-md-12.control-label	Province 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select.select2me.form-control.select2-offscreen(ng-model="customer.shipping_address.city",ng-selected="{{customer.shipping_address.city}}", ng-options="city.city as city.city for city in customer.shipping_address.province.cities track by city.city", required disabled)
										span.col-md-12.control-label	City 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										select.select2me.form-control.select2-offscreen(ng-model="customer.shipping_address.zipcode",ng-selected="{{customer.shipping_address.zipcode}}", ng-options="zipcode.zipcode as zipcode.zipcode for zipcode in customer.shipping_address.city.zipcodes track by zipcode.zipcode", required disabled)
										span.col-md-12.control-label	Zipcode 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										label.checkbox Use as Billing
											input(type="checkbox", ng-checked="copyShipping(customer)", ng-model="customer.shipping_address.same", value="1")
						.row
							br
							.col-md-6
								// <div class="form-group">
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
									h3.inline Billing Address
									br
									br
								// </div>
							.col-md-6
								.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										input.form-control(type="text", ng-model="customer.billing_address.landmark", required disabled)
										span.col-md-12.control-label	Floor/Unit/Building
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										input.form-control(type="text", ng-model="customer.billing_address.barangay", required disabled)
										span.col-md-12.control-label	Street/Barangay
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select.select2me.form-control.select2-offscreen(ng-model="customer.billing_address.country", ng-selected="{{customer.billing_address.country}}", ng-options="country.country for country in countries track by country.country", required disabled)
										span.col-md-12.control-label	Country 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										select.select2me.form-control.select2-offscreen(ng-model="customer.billing_address.province",ng-selected="{{customer.billing_address.province}}", ng-options="geography.province as geography.province for geography in geographys track by geography._id",required disabled)
										span.col-md-12.control-label	Province 
						.row
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-right
										select.select2me.form-control.select2-offscreen(ng-model="customer.billing_address.city", ng-selected="{{customer.billing_address.city}}",ng-options="city.city as city.city for city in customer.billing_address.province.cities  track by city.city", required disabled)
										span.col-md-12.control-label	City 
							.col-md-6
								.form-group
									.col-xs-12.col-sm-12.col-md-10.col-lg-10.custom-left
										select.select2me.form-control.select2-offscreen(ng-model="customer.billing_address.zipcode",ng-selected="{{customer.billing_address.zipcode}}", ng-options="zipcode.zipcode as zipcode.zipcode for zipcode in customer.billing_address.city.zipcodes  track by zipcode.zipcode", required disabled)
										span.col-md-12.control-label	Zipcode 
				.portlet.box.grey
					.portlet-title
						.caption
							i.fa.fa-reorder
							| CONTACT PERSONS
						.tools
							a.collapse(href="javascript:;")
					.portlet-body.form
						.form-body
							.form-group
								.col-md-1
								.col-md-10
									.row
										br
										.col-md-12
											.portlet-body.flip-scroll
												table.table.table-bordered.table-condensed.flip-content
													thead.flip-content.bg-grey
														tr
															th Name
															th Position
															th Phone
													tbody
														tr(ng-repeat="contact in customer.contacts")
															td {{contact.name}}
															td {{contact.position}}
															td {{contact.phone}}
								.col-md-1
			.form-actions.fluid
				.row
					.col-md-6
						.col-md-offset-3.col-md-9
							button.btn.green(type="button", ui-sref="editCustomer({id:customer._id})") Edit
							button.btn.default(type="button", ui-sref="customers") Cancel
					.col-md-6